* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-size: 1.2rem;
	font-family: Arial;
}

header {
	width: auto;
  	overflow: hidden;
  	position: relative;
}

body{  
	margin-bottom: 100px;
}  

a {
	text-decoration: none;
	color: white;
}

h1 {
	text-align: center;
	margin-right: 100%;
	margin-left: 10px;
	margin-top: 100px;
}
/*cabeçalho*/
.barraprincipal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.botoes {
	display: flex;
}

.barraprincipal li{
	margin-left: 10px;

}

.barraprincipal li a{
	padding: 20px;
	font-size: 1rem;
	
}

.barraprincipal {
	background-color: #4682B4;
}

.barraprincipal li a{
	padding-top: 0px;
	height: 100%; 
	width:  100%;
	background-color: #4682B4;
	color: white;
	text-decoration: none;
	display: inline; 
	line-height:15px;
}
/*logo ou nome da loja*/
#logo {
	margin-left: 15%;
	color: black;
}
/*produtos*/

#produtos{ 
	width: auto;
	height: 100%;
	background-color: #C1CDCD;
	color: black;
	padding: 20px;
	align-items: center;
}

.produto {
	width: 40%;
	height: 40%;
}

.produto a {
	display: inline; 
}
.img {
	overflow: hidden;
	
 }
 /*daqui pra baixo, nem mexi*/

#carrinho {
	width: 10%;
	height: 10%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2%;
	display: block;
}

#sobrenos{ 
	width: 100%;
	height: 100%;
	background-color: #C1CDCD;
	color: black;
	
}
 
#textsobrenos{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-size: 40px;
	
}

#formcadastro{ 
	width: 1350px;
	height: 600px;
	text-align: center;
	padding: 20px;
	background-color:  #C1CDCD ;
	color: black; 

}

#cadastrofeito{ 
	width: 1400px;
	height: 600px;
	padding: 20px;
	text-align: center;
	background-color: #C1CDCD;
	color: black;
	
}

#formcontato{ 
	width: 1350px;
	height: 600px;
	padding: 20px;
	text-align: center;
	background-color:  #C1CDCD ;
	color: black; 

}

#contatofeito{ 
	width: 1400px;
	height: 600px;
	padding: 20px;
	text-align: center;
	background-color: #C1CDCD;
	color: black;
	
}

#infocontato{ 
	width: 1350px;
	height: 600px;
	padding-bottom: 20px;
	background-color:  #C1CDCD ;
	color: black; 

}

#promocoes{
	width: 1350px;
	height: 600px;
	background-color: #C1CDCD;
	color: black;
}

#textpromo{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-size: 20px;

}



#textprod{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-size: 20px;
}

